// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



.jumbotron {
  background-color: #d4d4d4;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
 }
 .jumbotron .container {
  text-align: center;
 }
 .jumbotron .container .banner {
  margin: 100px 0 150px;
  color: white;
 }
 .jumbotron .container .banner h1 {
  font-size: 3.5em;
  font-weight: bolder;
  text-shadow:  0 5px 10px rgba(0, 0, 0, 0.3);
 }
 .jumbotron .container .banner p {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
 }

 .container {
  padding: 20px 16px;
  display: flex;
  gap: 16px;
}

.sub-header {
  margin-top: 25px;
}

 .grid-container {
  margin: 0 0 50px 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
 }

 .card {
    min-height: 200px;
    min-width: 300px;

    padding: 10px;

    background-position: center;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  }

  .card > img {
    margin-bottom: 10px;
  }

  .card > div >span.rating:before {
    content: 'Rating: ';
  }

 .card .cover-link {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    text-shadow:  0 5px 10px rgba(0, 0, 0, 0.3);

    width: 100%;
    height: 100%;
  }

  .form-new {
    width: 45%;
    border: solid 1px #b9b9b9;
    border-radius: 4px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }

  footer {
    min-height: 225px;
    background-color: #d4d4d4;
    font-size: 1.125rem;
    color: $secondary;
    // text-shadow:  0 3px 5px rgba(0, 0, 0, 0.3);

    .attribution-links {
      font-size: .75rem;
    }

    p {
      color: inherit;
      font-style: italic;
      margin-bottom: 0;
    }
  }

@media (max-width: 1200px) { }
@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
   }
}
@media (max-width: 768px) {
  .card {
    min-height: 200px;
    min-width: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
   }
}
