<footer class="d-flex">

  <div class="container justify-content-between align-items-end">

    <div class="attribution-links">

      Designed by Freepik - <a href="https://www.freepik.com">www.freepik.com</a>
      <br>
      Photo by <a href="https://unsplash.com/@therachelstory?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Rachel Park</a> on <a href="https://unsplash.com/photos/round-white-ceramic-plate-filled-with-waffle-hrlvr2ZlUNk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      <br>
      Photo by <a href="https://unsplash.com/@cravethebenefits?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Brenda Godinez</a> on <a href="https://unsplash.com/photos/bowl-of-sliced-fruits-on-white-textile-_Zn_7FzoL1w?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      <br>
      Photo by <a href="https://unsplash.com/@cravethebenefits?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Brenda Godinez</a> on <a href="https://unsplash.com/photos/bowl-of-sliced-fruits-on-white-textile-_Zn_7FzoL1w?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      <br>
      Photo by <a href="https://unsplash.com/@12tones?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Olga Petnyunene</a> on <a href="https://unsplash.com/photos/a-wooden-box-filled-with-eggs-on-top-of-a-table-KsFYjjPxZSI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

    </div>

    <p class="copyright">Le Rogue Digitál - &copy; 2024</p>

    <div class="social-links">

      <i class="fa-brands fa-square-facebook"></i>

      <i class="fa-brands fa-pinterest"></i>

      <i class="fa-brands fa-linkedin"></i>

      <i class="fa-brands fa-square-instagram"></i>

    </div>

  </div>

</footer>
