<div class="jumbotron">
  <div class="container flex-column">

    <div class="banner">
      <h1 class="display-4"><i class="fa-solid fa-utensils"></i> <%= title %></h1>
      <hr class="my-4">
      <p class="lead"><%= sub_title %></p>
    </div>

  </div>
</div>
